<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<validation>
		<type name="BusinessLogic.Class1" defaultRuleset="Validation Ruleset"
            assemblyName="ClassLibraryEnterprise, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
			<ruleset name="Validation Ruleset">
				<properties>
					<property name="Name">
						<validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            upperBound="5" lowerBound="2" lowerBoundType="Inclusive" messageTemplate="Must be 2-5 characters"
                            name="String Length Validator" />
					</property>
					<property name="Age">
						<validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            culture="en-US" lowerBound="1" lowerBoundType="Inclusive" upperBound="100" messageTemplate="Must be between 1 to 100"
                            name="Range Validator" />
					</property>
				</properties>
			</ruleset>
		</type>
	</validation>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>